form{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
  max-width: 100%;
}
fieldset{
  flex-basis: 500px;
  padding: 2rem;
  font-size: 18px;
}
fieldset *{
  display:block;
}
.wrapper > div{
  margin: 10px;
}
button{
  padding: 10px 20px;
  border: none;
  background-color: darkcyan;
  color: white;
}
#result{
  display: block;
  min-width: 100px;
  height: 25px;
  font-size: 20px ;
}
input,select{
  padding:5px;
}